# ignore python cache
activenus/__pycache__
authentication/__pycache__
dashboard/__pycache__
*/__pycache__/*
*/*/__pycache__
*/*/*/__pycache__

# environment
.env
.env/
.venv/
env/
venv/

# Text backup files
*.bak

# Database
*.sqlite3

# DS_Store
.DS_Store
*/.DS_Store
*/*/.DS_Store