#main-part>* {
    display: flex;
    justify-content: center;
}

.div-content {
    width: 100%;
    height: 100%;
    /* background-color: cornsilk; */
    background-color: #fff;
}

#left-div-content {
    border-radius: 0px 20px 0px 0px;
    background-color: #f9fafd;
}

#mid-div-content {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#right-div-content {
    border-radius: 15px 0px 0px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tab {
    width: 100%;
    text-align: left;
    font-size: 1.25rem;
    padding: 15px 0 15px 2px;
    border-radius: 0 20px 20px 0;
}

.tab:hover {
    background-color:rgba(0, 0, 0, 0.2);
    color: #254159;
}

#left-div-content {
    position: absolute;
    top: 8rem;
    left: 1rem;
}

html, body {
    max-height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #3A668C;
}

@media screen and (max-width: 991px) {
    #logo {
        left: 3rem;
    }

    /* #left-div {
        display:none;
    } */
}