
  #calendar {
    font-family: sans-serif !important;
    width: 80%;
    margin: 0 auto;
  }

  .fc-state-default {
    border: none !important;
    text-shadow: none !important; 
    background-image: none !important;
    color: white !important;
  }

  .fc-left .fc-state-default {
    background-color: #254159 !important;
  }

  .fc-right .fc-state-default {
    background-color: #254159 !important;
  }

  .fc-event {
    background-color: #3a668b !important; 
    border: none !important;
  }

  .fc-time{ display: none; }

  #new-progress > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

  #new-progress input {
    margin-bottom: 10px;
  }
