:root {
  --bg-color: #f5f8ff;
  --main-color: #353536;
  --secondary-color: #8e92a4;
  --main-text-color: #5d606b;
  --secondary-dark-color: #9496a5;
  --tag-color-one: #e0fbf6;
  --tag-color-text-one: #58c2a9;
  --tag-color-two: #ece7fe;
  --tag-color-text-two: #8972f3;
  --tag-color-three: #fde7ea;
  --tag-color-text-three: #e77f89;
  --tag-color-four: #f7f8fc;
  --tag-color-text-four: #a0a6b5;
  --checkbox-color: #009e90;
  --button-color: #49beb7;
  --box-color: #fff1d6;
  --box-color-2: #d3e6ff;
  --box-color-3: #ffd9d9;
  --box-color-4: #daffe5;
  --task-color: #777982;
}

/* FLASH CARD CONTAINER */
/* Configure the box size, color here */

#fc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard-container .flashcard {
  cursor: pointer;
}

.flashcard-container .card-flipper {
  transition: ease-in-out 3000ms;
  transform-style: preserve-3d;
  position: relative;
  display: inline-block;
  margin: auto;
  height: 300px;
  border-radius :20px;
  width:700px;
  margin:20px auto;
  padding:20px;
  text-align:center;
}
.flashcard-container .card-question, .flashcard-container .card-answer {
  transition: ease-in 300ms;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 60px;
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--box-color-3);
  border-radius :20px;
  box-shadow: 8px 8px 6px -6px #c0c8d4;
}

/* QUESTIONS AND ANSWERS */

.flashcard-container .card-question {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateX(0deg);
  background-color: var(--box-color-3);
  border-radius :20px;
}
.flashcard-container .card-question.reveal-answer {
  transform: rotateX(180deg);
}
.flashcard-container .card-answer {
  transform: rotateX(180deg);
  font-size: 20px;
  border-radius :20px;
  background-color: var(--box-color-2);
  flex-direction: column;
  line-height: 1;
  box-shadow: 8px 8px 6px -6px #c0c8d4;
}
.flashcard-container .card-answer.reveal-answer {
  transform: rotateX(0deg);
  
}
.flashcard-container .card-answer span {
  display: block;
  font-size: 45px;
}

/* HONESTLY DONT KNOW WHAT THIS FOR */


.text-xsmall {
  font-size: 12px;
}

.no-flexbox .flashcard .card-question, .no-flexbox .flashcard-container .flashcard-mobile .card-question, .flashcard-container .no-flexbox .flashcard-mobile .card-question {
  z-index: 2;
}
.no-flexbox .flashcard .card-question.reveal-answer, .no-flexbox .flashcard-container .flashcard-mobile .card-question.reveal-answer, .flashcard-container .no-flexbox .flashcard-mobile .card-question.reveal-answer {
  z-index: 0;
}

#big-container {
  text-align: center;
}

/* TO MAKE BUTTON AND TEXT DISAPPEAR */

.noshow {
  color: var(--box-color-2);
  display: none;
}

/* BUTTONS */

#command button { 
  width: 140px; 
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border:none; 
  cursor:pointer; 
  font-family: 'DM Sans', sans-serif;
  box-shadow: 4px 4px 3px -3px #d3dbe7;
}

#command button#previous{
  background : var(--tag-color-two);
  color: var(--tag-color-text-two);
}


#command button#next{
  background : var(--tag-color-three);
  color: var(--tag-color-text-three);
}


#new-card-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#new-card-form * {
  margin: 10px;
}
