{% extends '_partials/base.html' %}

{% load static %}

{% block title %}
Activation Failed | ActiveNUS
{% endblock title %}

{% block css %}
<link rel="stylesheet" href={% static 'css/registration/registration.css' %}>
{% endblock %}

{% block content %}

<div class="l-form">
    <div class="shape1"></div>
    <div class="shape2"></div>

    <div class="form">
        <img src={% static 'img/logo.png' %} class="form__img">

        <div class="form__content">

            <h1 class="form__title" style='margin-top: 8rem;'>Something went wrong</h1>


            <p class="form__signup"><i class='large bug icon'></i>Your account might have been activated.</p>
            <p class="form__signup">Try to login <a class='form__outlink' href={% url 'auth_login' %}>here</a></p>

        </div>
    </div>

</div>


{% endblock content %}