{% extends "_partials/base.html" %}

{% load static %}

{% block title %}
Log in | ActiveNUS
{% endblock title%}


{% block css %}
  <!-- <link rel="stylesheet" href={% static 'css/registration/registration.css' %}> -->
  <link rel="stylesheet" href="{% static 'css/registration/registration.css' %}?{% now 'U' %}">
{% endblock %}

{% block content %}

<div class="l-form">
  <div class="shape1"></div>
  <div class="shape2"></div>

  <div class="form">
      <img src={% static 'img/logo.png' %} class="form__img">

      <form method="post" action={% url 'auth_login' %} class="form__content">
        {% csrf_token %}
          <h1 class="form__title">Authentication</h1>


          {% if messages %}
          {% for message in messages %}
          {%  if forloop.first  %}
            <div class="ui mini {{message.tags}} message" style="text-align: center; width: 100%"> {{message}} </div> 
          {% endif %}
          {% endfor %} 
          {% endif %}

          <div class="form__div">
              <div class="form__icon">
                  <i class="user icon"></i>
              </div>

              <div class="form__div-input">
                  <input type="text" required name='username' value='{{ data.username }}' class="form__input" placeholder="Username">
              </div>
          </div>

          <div class="form__div">
              <div class="form__icon">
                  <i class="lock icon"></i>
              </div>

              <div class="form__div-input">
                  <input type="password" required name='password' class="form__input" placeholder="Password">
              </div>
          </div>
          <a href={% url 'password_reset' %} class="form__link">Forgot Password?</a>

          <input type="submit" class="form__button" value="Login">
          <p class="form__signup">Don't have an account? <a class='form__outlink' href={% url 'auth_register' %}>Sign up</a></p>

      </form>
  </div>

</div>

<!--Scroll-->
<script src="https://unpkg.com/scrollreveal"></script>

<!-- ===== MAIN JS ===== -->
<script src={% static 'js/registration/registration.js' %}></script>


{% endblock content %}

