{% extends "_partials/base.html" %}

{% load static %}

{% block title %}
Register | ActiveNUS
{% endblock title%}


{% block css %}
<link rel="stylesheet" href={% static 'css/registration/registration.css' %}>
{% endblock %}

{% block content %}

<div class="l-form">
  <div class="shape1"></div>
  <div class="shape2"></div>

  <div class="form">
      <img src={% static 'img/logo.png' %} class="form__img">

      <form method="post" action={% url 'auth_register' %} class="form__content">
        {% csrf_token %}
          <h1 class="form__title">Registration</h1>


          {% if messages %}
          {% for message in messages %}
          {%  if forloop.first  %}
            <div class="ui mini {{message.tags}} message" style="text-align: center; width: 100%"> {{message}} </div> 
          {% endif %}
          {% endfor %} 
          {% endif %}

          <div class="form__div">
              <div class="form__icon">
                  <i class="user icon"></i>
              </div>

              <div class="form__div-input">
                  <input type="text" name='username' value='{{ data.username }}' class="form__input" placeholder="Username">
              </div>
          </div>


          <div class="form__div">
              <div class="form__icon">
                  <i class="envelope open icon"></i>
              </div>

              <div class="form__div-input">
                  <input type="text" name='email' value='{{ data.email }}' class="form__input" placeholder='Email Address'>
              </div>
          </div>


          <div class="form__div">
              <div class="form__icon">
                  <i class="lock icon"></i>
              </div>

              <div class="form__div-input">
                  <input type="password" name='password1' class="form__input" placeholder="Password">
              </div>
          </div>

          <div class="form__div">
              <div class="form__icon">
                  <i class="lock icon"></i>
              </div>

              <div class="form__div-input">
                  <input type="password" name='password2' class="form__input"placeholder="Confirm Password">
              </div>
          </div>
          <input type="submit" class="form__button" value="Sign up">

          <a class='form__link' href={% url 'auth_login' %}>Log in instead</a>

      </form>
  </div>

</div>

<!--Scroll-->
<script src="https://unpkg.com/scrollreveal"></script>

<!-- ===== MAIN JS ===== -->
<script src={% static 'js/registration/registration.js' %}></script>

{% endblock content %}