{% extends "_partials/base.html" %}

{% load static %}

{% block title %}
Register | ActiveNUS
{% endblock title%}


{% block css %}
<link rel="stylesheet" href={% static 'css/registration/registration.css' %}>
{% endblock %}

{% block content %}
<div class='main'>

  <div class="right">


      <form class="form" method="post" action={% url 'register' %}>
        
        {% csrf_token %}

        <h2 class="title">Registration</h2>

          {% if messages %}
            {% for message in messages %}
              <div class="ui {{message.tags}} message" style="margin-top: 0; margin-bottom: 4px; padding: 0.5rem; width: 300px; font-family: sans-serif;"> {{message}} </div> 
            {% endfor %} 
          {% endif %}

        <input class="form_input" type="text" name='username' value='{{ data.username }}' placeholder="Username">
        <input class="form_input" type="text" name='email' value='{{ data.email }}' placeholder="Email Address">
        <input class="form_input" type="password" name='password1'  placeholder="Password">
        <input class="form_input" type="password" name='password2' placeholder="Confirm Password">
        <button class="button">SIGN UP</button>
        <a class="form_link" type="font-family: sans-serif;" href={% url 'login' %}>Log in instead</a>
      </form>
  </div>

  <div class='left'>
    <div class="switch_circle"></div>
    <div class="switch_circle switch_circle-t"></div>
    <img src={% static 'img/logo.png' %} height=90px>
  </div>

</div>
{% endblock content %}