{% extends '_partials/base.html' %}

{% load static %}

{% block title %}
Account | ActiveNUS
{% endblock title %}

{% block css %}

{% endblock css %}

{% block contentdiv1 %}
<h1>
    Account
</h1>

<div style="padding-left: 2rem; padding-right: 2rem;">

    <h3 class="ui header">Name</h3>
    <div> {{ request.user.username }} </div>

    <div class="ui section divider"></div>

    <h3 class="ui header">Email</h3>
    <div> {{ request.user.email }} </div>

    <div class="ui section divider"></div>
</div>

{% endblock contentdiv1 %}

{% block contentdiv2 %}

{% endblock contentdiv2 %}
