{% extends '_partials/base.html' %}
{% load static %}

{% block title %}
Calendar | ActiveNUS
{% endblock title %}

{% block css %}
    <!-- <link rel='stylesheet' href={% static 'css/dashboard/home.css' %}> -->
    <link rel='stylesheet' href="{% static 'css/dashboard/calendar/styles.css' %}?{% now 'U' %}">
    <link rel='stylesheet' href="{% static 'css/dashboard/calendar/main.css' %}?{% now 'U' %}">
{% endblock css %}


{% block contentdiv1 %}
<h1 style='padding: 2rem'>
    Calendar
</h1>
<div id='calendar'></div>
{% endblock contentdiv1 %}


{% block contentdiv2 %}
<h3 style='padding: 3rem'>Add New Event</h3>
<form class="ui form" id="choose">
    <div class="field">
      <label>Event name</label>
      <input type="text" id="name" name="event-name" placeholder="Event Name">
    </div>
    <div class="field">
      <label>Start Time</label>
      <input type="date" id="start" name="start-time" placeholder="Start Time">
    </div>
    <div class="field">
      <label>End Time</label>
      <input type="date" id="end" name="end-time" placeholder="End Time">
    </div>
    <button class="ui button" type="submit">Submit</button>
  </form>
  

{% endblock contentdiv2 %}

{% block js %} 
    <script src="{% static 'js/dashboard/calendar/main.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'js/dashboard/calendar/script.js' %}?{% now 'U' %}"></script>
{% endblock js %}