{% extends '_partials/base.html' %}
{% load static %}

{% block title %}
Calendar | ActiveNUS
{% endblock title %}

{% block css %}
    <!-- <link rel='stylesheet' href={% static 'css/dashboard/home.css' %}> -->
    <link rel='stylesheet' href="{% static 'css/dashboard/calendar/styles.css' %}?{% now 'U' %}">
    <link rel='stylesheet' href="{% static 'css/dashboard/calendar/main.css' %}?{% now 'U' %}">
{% endblock css %}


{% block contentdiv1 %}
<h1 style='margin: 2rem'>
    Calendar
</h1>
<div id='calendar'></div>
{% endblock contentdiv1 %}


{% block contentdiv2 %}

{% endblock contentdiv2 %}

{% block js %} 
    <script src="{% static 'js/dashboard/calendar/main.js' %}?{% now 'U' %}"></script>
    <script src="{% static 'js/dashboard/calendar/script.js' %}?{% now 'U' %}"></script>
{% endblock js %}