{% extends '_partials/base.html' %}

{% load static %}

{% block title %}
Calendar | ActiveNUS
{% endblock title %}

{% block css %}
    <link rel='stylesheet' href={% static 'css/dashboard/home.css' %}>
    <link rel='stylesheet' href="{% static 'css/dashboard/calendar/styles.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css"/>
{% endblock css %}

{% block contentdiv1 %}
<h1 style='padding: 2rem'>
    Calendar
</h1>
<div class="container">
    <div id="calendar"></div>
</div>
{% endblock contentdiv1 %}

{% block js %} 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {
  var calendar = $('#calendar').fullCalendar({
      header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
      },
      events: [
          {% for event in events %}
              {
                  title: "{{ event.name}}",
                  start: '{{ event.start|date:"Y-m-d" }}',
                  end: '{{ event.end|date:"Y-m-d" }}',
                  id: '{{ event.id }}',
              },
          {% endfor %}
      ],

      selectable: true,
      selectHelper: true,
      editable: true,
      eventLimit: true,
      select: function (start, end, allDay) {
          var title = prompt("Enter Event Title").replace(/['"]+/g, '');
          if (title) {
              var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
              var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
              $.ajax({
                  type: "GET",
                  url: '/add_event',
                  data: {'title': title, 'start': start, 'end': end},
                  dataType: "json",
                  success: function (data) {
                      calendar.fullCalendar('refetchEvents');
                       alert("Added Successfully");
                  },
                  failure: function (data) {
                      alert('There is a problem!!!');
                  }
              });
              calendar.fullCalendar('renderEvent', {'title': title, 'start': start, 'end': end});
              location.reload();
          }
          
      },
      eventResize: function (event) {
          var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
          var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
          var title = event.title;
          var id = event.id;
          $.ajax({
              type: "GET",
              url: '/update',
              data: {'title': title, 'start': start, 'end': end, 'id': id},
              dataType: "json",
              success: function (data) {
                  calendar.fullCalendar('refetchEvents');
                  alert('Event Update');
              },
              failure: function (data) {
                  alert('There is a problem!!!');
              }
          });

      },

      eventDrop: function (event) {
          var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
          var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
          var title = event.title;
          var id = event.id;
          $.ajax({
              type: "GET",
              url: '/update',
              data: {'title': title, 'start': start, 'end': end, 'id': id},
              dataType: "json",
              success: function (data) {
                  calendar.fullCalendar('refetchEvents');
                  alert('Event Update');
              },
              failure: function (data) {
                  alert('There is a problem!!!');
              }
          });
      },

      eventClick: function (event) {
          if (confirm("Are you sure you want to remove it?")) {
              var id = event.id;
              $.ajax({
                  type: "GET",
                  url: '/remove',
                  data: {'id': id},
                  dataType: "json",
                  success: function (data) {
                      calendar.fullCalendar('refetchEvents');
                  },
                  failure: function (data) {
                      alert('There is a problem!!!');
                  }
              });
              location.reload();
            //   calendar.fullCalendar( 'removeEvents', id );
          }
      },

  });
});
    </script>
{% endblock js %}