{% extends '_partials/base.html' %}
{% load static %}

{% block title %}
Flashcard | ActiveNUS
{% endblock title %}

{% block css %}
<link rel='stylesheet' href="{% static 'css/dashboard/flashcard.css' %}?{% now 'U' %}">
{% endblock css %}


{% block contentdiv1 %}
<h1>
  Flashcard
</h1>


<div class="flashcard-container" id="fc">

  <div class="flashcard hidden-xs hidden-sm" id="big-container">
    <div class="card-flipper" @click="flip(card)" >
      <div class="card-question" v-bind:class="{ 'reveal-answer' : flipped }" class="column">
        <span v-if="!card.startcard">[[ card.fields.question ]]</span>
        <div v-if="card.startcard">
          <span>Click me!</span>
        </div>
      </div>
      <div class="card-answer" v-bind:class="{ 'reveal-answer' : flipped }">
        <span v-if="!card.startcard" v-bind:class="{'noshow' : !flipped }"><small>[[ card.fields.answer ]]</small></span>
        <div v-if="card.startcard">
          <span>Deck: {{folder.name}}</span>
          <span><small>Click next to start learning</small></span>
        </div>
      </div>

    </div>

    <div class="button-container" id="command" v-bind:class="{'noshow' : !flipped }">
      <button v-if="!card.startcard" class="ui button" id="easy" @click="easy">Easy</button>
      <button v-if="!card.startcard" class="ui button" id="medium" @click="medium">Medium</button>
	  <button v-if="!card.startcard" class="ui button" id="hard" @click="hard">Hard</button>
	  <button v-if="card.startcard"  class="ui button" id="next" @click="forward">Next</button>
    </div>

  </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="text/javascript">
var deck1 = {{cards|safe}};
console.log(deck1);
var please = deck1;

const fc = new Vue({
    delimiters: ["[[", "]]"],
	el: '#fc',
	data: {
		deck: deck1,
		title: " ",
		current: 0,
		card: {  
			"model":"dashboard.flashcard",
			"pk":4,
			"startcard": true,
			"fields":{question: "Hello", answer: "Its me", folder: 2, user: 6}
   	},
		flipped:true,
	},



	methods: {
		flip: function(card){
			this.flipped = !this.flipped;
		},

		
		easy: function(){
      $.ajax({
                  type: "GET",
                  url: '/easycard',
                  data: {'id': this.card.pk, 'folder_id': this.card.fields.folder},
                  dataType: "json",
                  success: function (data) {
                      console.log('ok easy');
					  please = JSON.parse(data["all_cards"]);
                  },
                  failure: function (data) {
                      console.log('oh no easy');
                  }
              });
      if(deck1.length < 2){
        alert("Please add more cards!");
      }
      else {
			this.flipped = false;
			  this.deck = please;
			console.log(please);
			this.card = this.deck[0];
			console.log(this.card);
			console.log(this.card.fields.question);	
            }
		},

		medium: function(){
      $.ajax({
                  type: "GET",
                  url: '/mediumcard',
                  data: {'id': this.card.pk, 'folder_id': this.card.fields.folder},
                  dataType: "json",
                  success: function (data) {
                      console.log('ok medium');
					  please = JSON.parse(data["all_cards"]);
                  },
                  failure: function (data) {
                      console.log('oh no medium');
                  }
              });
      if(deck1.length < 2){
        alert("Please add more cards!");
      }
      else {
			this.flipped = false;
			  this.deck = please;
			console.log(please);
			this.card = this.deck[0];
			console.log(this.card);
			console.log(this.card.fields.question);	
            }
		},

		hard: function(){
      $.ajax({
                  type: "GET",
                  url: '/hardcard',
                  data: {'id': this.card.pk, 'folder_id': this.card.fields.folder},
                  dataType: "json",
                  success: function (data) {
                      console.log('ok hard');
					  please = JSON.parse(data["all_cards"]);
                  },
                  failure: function (data) {
                      console.log('oh no medium');
                  }
              });
      if(deck1.length < 2){
        alert("Please add more cards!");
      }
      else {
			this.flipped = false;
			  this.deck = please
			  console.log(please);
			this.card = this.deck[0];
			console.log(this.card);
			console.log(this.card.fields.question);	
            }
			
		},

		forward: function(){
      if(this.deck.length == 0){
        alert("Please add card!");
      }
      else{
				this.deck = deck1;
				this.flipped = false;
				this.card = this.deck[Math.floor(Math.random() * this.deck.length)];
      }
		},

	}	
})
</script>
{% endblock contentdiv1 %}


{% block contentdiv2 %}

<h3 style='padding:3rem 0 0 2rem'>
  Add Card
</h3>

<form id="new-card" method="post">
  {% csrf_token %}
  <p>Question: </p>
    <div class="ui input">{{ form.card_question }} </div>
    <p>Answer: </p>
    <div class="ui input">{{ form.card_ans }} </div>
  <input class="ui button" type="submit" value="Submit">
</form>

{% endblock contentdiv2 %}


{% block js %}


{% endblock js %}