{% extends '_partials/base.html' %}
{% load static %}

{% block title %}
Flashcard | ActiveNUS
{% endblock title %}

{% block css %}
<!-- <link rel='stylesheet' href={% static 'css/dashboard/home.css' %}> -->
<link rel='stylesheet' href="{% static 'css/dashboard/flashcardfolder.css' %}?{% now 'U' %}">
{% endblock css %}


{% block contentdiv1 %}

<h1>
  Flashcard
</h1>
<div id="flashcardfolder">
  {% for i, folder in folders %} 
  
  <div class='progress-card' style=' float: left;
width: 230px;
height: 147px;
margin: 30px;
padding: 1rem;
background: #9ABBD9;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
border-radius: 20px;
text-align: center;'>
    <div class="progress_title" style='font-size:1.5rem; margin-top:2rem; margin-bottom:2rem;'>{{folder.name}}</div>

    <div class="ui horizontal label">{{i}} items</div>

    <div class="ui icon buttons">
      <a href="{% url 'flashcarddeck' folder.id %}">
        <div class="ui basic button icon"><i class="play icon"></i></div></a>
        <div class="ui basic button icon" onclick="submit_delete({{ folder.id }})" ><i class="trash icon"></i></div>
      </div>
</div>

  {% empty %}
  <p>Add your first flashcard folder on the right/bottom pannel.</p>
  {% endfor %}
</div>
<script>
  function submit_delete(id) {
  var pleaze = id;
  console.log(pleaze);
    if (confirm("Are you sure you want to delete it?")) {
              $.ajax({
                type: "GET",
                url: '/deletefolder',
                data: {'id': pleaze},
                dataType: "json",
                success: function (data) {
                  console.log('ok successfully deleted');
                  location.reload();
                },
                failure: function (data) {
                  console.log('oh no');
                }
              });
              location.reload();
          }
  }
</script>

{% endblock contentdiv1 %}


{% block contentdiv2 %}
<h2>
  Add Folder
</h2>

<form id="new-folder" method="post">
    {% csrf_token %}
    <p>Folder Name: </p>
    <div class="ui input">{{ form.folder_name }} </div>
    <input class="ui button" type="submit" value="Submit">
</form>





{% endblock contentdiv2 %}


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

{% endblock js %}
