{% extends '_partials/base.html' %}
{% load static %}

{% block title %}
Flashcard | ActiveNUS
{% endblock title %}

{% block css %}
<!-- <link rel='stylesheet' href={% static 'css/dashboard/home.css' %}> -->
<link rel='stylesheet' href="{% static 'css/dashboard/flashcard.css' %}?{% now 'U' %}">
{% endblock css %}


{% block contentdiv1 %}
<h1 style='padding: 2rem'>
  Flashcard
</h1>


<div class="flashcard-container" id="fc">

  <div class="flashcard hidden-xs hidden-sm" id="big-container">
    <div class="card-flipper" @click="flip(card)">
      <div class="card-question" v-bind:class="{ 'reveal-answer' : flipped }">
        <span v-if="!card.startcard">[[ card.fields.question ]]</span>
        <div v-if="card.startcard">
          <span>Click me!</span>
        </div>
      </div>
      <div class="card-answer" v-bind:class="{ 'reveal-answer' : flipped }">
        <span v-if="!card.startcard" v-bind:class="{'noshow' : !flipped }"><small>[[ card.fields.answer ]]</small></span>
        <div v-if="card.startcard">
          <span>Deck: {{folder.name}}</span>
          <span><small>Click next to start learning</small></span>
        </div>
      </div>

    </div>

    <div class="button-container" id="command" v-bind:class="{'noshow' : !flipped }">
      <button v-if="!card.startcard" class="ui button" id="previous" @click="previous">Previous</button>
      <button class="ui button" id="next" @click="forward">Next</button>
    </div>

  </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="text/javascript">
var deck1 = {{cards|safe}};
console.log(deck1);


const fc = new Vue({
    delimiters: ["[[", "]]"],
	el: '#fc',
	data: {
		deck: [],
		title: "Olympian Gods",
		current: 0,
		card: {  
			"model":"dashboard.flashcard",
			"pk":4,
			"startcard": true,
			"fields":{question: "Hello", answer: "Its me", folder: 2, user: 6}
   	},
		flipped:true,
	},



	methods: {
		flip: function(card){
			this.flipped = !this.flipped;
		},

		
		previous: function(){
			this.flipped = false;
			this.card.number++;
			this.card = this.deck[Math.floor(Math.random() * this.deck.length)];
			
		},

		forward: function(){
			if(!this.card.startcard){
				this.flipped = false;
				this.card.number++;
				this.card = this.deck[Math.floor(Math.random() * this.deck.length)];

			}

			else {
				this.deck = deck1;
				this.flipped = false;
				this.card = this.deck[Math.floor(Math.random() * this.deck.length)];
			}
			
		},

	}	
})
</script>
{% endblock contentdiv1 %}


{% block contentdiv2 %}

<form id="new-card" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="ui button" type="submit" value="Submit">
</form>

{% endblock contentdiv2 %}


{% block js %}


{% endblock js %}