{% extends '_partials/base.html' %}
{% load static %}

{% block title %}
ActiveNUS
{% endblock title %}

{% block css %}
    <!-- <link rel='stylesheet' href={% static 'css/dashboard/home.css' %}> -->
    <link rel='stylesheet' href="{% static 'css/dashboard/home.css' %}?{% now 'U' %}">
{% endblock css %}


{% block contentdiv1 %}
<h1 style='margin: 2rem'>
    Progress
</h1>
<div class='progress-card' style='float:left;
width: 217px;
height: 147px;
margin: 30px;

background: #FF724F;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
border-radius: 20px;'>

</div>

<div class='progress-card' style=' float: left;
width: 217px;
height: 147px;
margin: 30px;

background: #3A668C;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
border-radius: 20px;'>

</div>

<div class='progress-card' style=' float: left;
width: 217px;
height: 147px;
margin: 30px;

background: #FEF5DA;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
border-radius: 20px;'>

</div>

<div class='progress-card' style=' float: left;
width: 217px;
height: 147px;
margin: 30px;

background: #FEF5DA;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
border-radius: 20px;'>

</div>


<div class='progress-card' style='float: left;
width: 217px;
height: 147px;
margin: 30px;

background: #FDB92E;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
border-radius: 20px;'>

</div>

{% endblock contentdiv1 %}


{% block contentdiv2 %}

{% endblock contentdiv2 %}

