{% extends '_partials/base.html' %}
{% load static %}

{% block title %}
ActiveNUS
{% endblock title %}

{% block css %}
<!-- <link rel='stylesheet' href={% static 'css/dashboard/home.css' %}> -->
<link rel='stylesheet' href="{% static 'css/dashboard/home.css' %}?{% now 'U' %}">
{% endblock css %}


{% block contentdiv1 %}
<h1 style='padding: 2rem'>
    Progress
</h1>
<div id="progress">
        <progres
  v-for="card in cards"
  v-bind:key="card.id"
  v-bind:title="card.title"
  v-bind:count="card.count"
  v-bind:backgroundColor="card.backgroundColor"
></progres>
<a href="{% url 'calendar' %}">
<div class='progress-card' style='float: left;
width: 230px;
height: 147px;
margin: 30px;
padding: 1rem;
background: #FDB92E;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
border-radius: 20px;'>
    <div style="font-size: 100px; padding-top: 45px; color: #fff">+</div>
</div>
</a>

</div>


{% endblock contentdiv1 %}


{% block contentdiv2 %}
<div id="todolist">
    <h1 style='padding: 2rem'>
        Todo List
    </h1>
    <template v-if="todo.length">
        <transition-group name="todolist" tag="ul">
            <li v-for="item in todoByStatus" v-bind:class="item.done ? 'done' : ''" v-bind:key="item.id">
                <span class="label" style>[[ item.label ]]</span>
                <div class="actions">
                    <button class="btn-picto" type="button" v-on:click="markAsDoneOrUndone(item)"
                        v-bind:title="item.done ? 'Undone' : 'Done'">

                        <span v-if='!item.done'><i class="circle outline icon"></i></span>
                        <span v-else><i class="check circle outline icon"></i></span>

                    </button>
                    <button class="btn-picto" type="button" v-on:click="deleteItemFromList(item)" aria-label="Delete"
                        title="Delete">
                        <i class="trash icon"></i>
                    </button>
                </div>
            </li>
        </transition-group>
        <togglebutton label="Move done items to the end?" name="todosort" v-on:clicked="clickontoogle" />
    </template>
    <p v-else class="emptylist">Your todo list is empty.</p>

    <form name="newform" v-on:submit.prevent="addItem">

        <input type="text" name="newitem" id="newitem" v-model="newitem">
        <button type="submit">Add task</button>
    </form>
</div>

<script>
var todolist = {{todolist|safe}};
console.log(todolist);


Vue.component('togglebutton', {
  props: ['label', 'name'],
  template: `<div class="togglebutton-wrapper" v-bind:class="isactive ? 'togglebutton-checked' : ''">
      <label v-bind:for="name">
        <span class="togglebutton-label">{{ label }}</span>
        <span class="tooglebutton-box"></span>
      </label>
      <input v-bind:id="name" type="checkbox" v-bind:name="name" v-model="isactive" v-on:change="onToogle">
  </div>`,
  model: {
    prop: 'checked',
    event: 'change'
  },
  data: function() {
    return {
      isactive:false
    }
  },
  methods: {
    onToogle: function() {
       this.$emit('clicked', this.isactive)
    }
  }
});



var todolist_vue = new Vue({
  el: '#todolist',
  delimiters : ['[[',']]'],
  data: {
    newitem:'',
    sortByStatus:false,
    todo: [
      // { id:1, label: "Learn VueJs", done: true },
      // { id:2, label: "Code a todo list", done: false },
      // { id:3, label: "Learn something else", done: false }
    ],
    task: {
        "model": "dashboard.task",
        "pk": 1,
        "fields": {
            done: false,
            label: "Django",
            user: 4
        }
    },
  },
  mounted() {
      this.todo = todolist;
  },

  methods: {
    addItem: function() {
      this.todo.push({id: Math.floor(Math.random() * 9999) + 10, label: this.newitem, done: false});
      this.newitem = '';
    },
    markAsDoneOrUndone: function(item) {
      item.done = !item.done;
    },
    deleteItemFromList: function(item) {
      let index = this.todo.indexOf(item)
      this.todo.splice(index, 1);
    },
    clickontoogle: function(active) {
      this.sortByStatus = active;
    }
  },
  computed: {
    todoByStatus: function() {

      if(!this.sortByStatus) {
        return this.todo;
      }

      var sortedArray = []
      var doneArray = this.todo.filter(function(item) { return item.done; });
      var notDoneArray = this.todo.filter(function(item) { return !item.done; });
      
      sortedArray = [...notDoneArray, ...doneArray];
      return sortedArray;
    }
  }
});
console.log(this.todo);


//JS code for progress

Vue.component('progres', {
  props: ['title', 'count', 'backgroundColor'],
  template: `<div class='progress-card' :style="filterStyleCard">
      <div class="progress_title">{{ title }}</div>
      <div style='margin-top: 2rem' class="ui small indicating progress">
          <div :style="filterStyleProgress" class="bar"></div>
          <div class="label">Progress</div>
      </div>
      <span>{{ count }} %</span>
      <div class="ui icon buttons">
          <div class="decrement ui basic button icon"  @click="decrease"><i class="minus icon"></i></div>
          <div class="increment ui basic button icon"  @click="increase"><i class="plus icon"></i></div>
          <div class="ui basic button icon" @click="editTitle"><i class="edit outline icon"></i></div>
          <div class="ui basic button icon ui right dropdown simple item"><i class="tint icon"></i>
            <div class="menu">
              <div class="item" @click="backgroundRed">
              <i class="circle icon" style="color: #ff714f"></i></div>
              <div class="item" @click="backgroundBlue">
              <i class="circle icon" style="color: #91b3cf"></i></div>
              <div class="item" @click="backgroundYellow">
              <i class="circle icon" style="color: #fdba2e"></i></div>
              <div class="item" @click="backgroundCream">
              <i class="circle icon" style="color: #fef4d9"></i></div>
            </div>
        </div>
  </div>`,

  computed: {
    filterStyleProgress() {
      return {
        width: this.count.toString() + '%'
      };
    },

    filterStyleCard() {
      return {
        float: 'left',
        width: '230px',
        height: '147px',
        margin: '30px',
        padding: '1rem',
        background: this.backgroundColor,
        boxShadow: 'rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px',
        borderRadius: '20px'
    }
  }


  },

  methods: {
    decrease: function () {
      if(this.count > 0){
      this.count -= 5
      }
    },
    increase: function () {
      if(this.count < 100){
      this.count += 5
    }
    },

    backgroundRed: function() {
      this.backgroundColor = "#ff714f";
    },

    backgroundBlue: function() {
      this.backgroundColor = "#91b3cf";
    },

    backgroundCream: function() {
      this.backgroundColor = "#fef4d9";
    },

    backgroundYellow: function() {
      this.backgroundColor = "#fdba2e";
    },

    editTitle: function() {
      var title = prompt("Change progress title: ");
      if(title) {
        this.title = title;
      }
    }
  }


});

var app = new Vue({
  el: '#progress',
  delimiters : ['[[',']]'],
  data: {
    cards: [
      { id:1, title: "Discrete Math", count: 50, backgroundColor: "#91b3cf"},
      { id:2, title: "Machine Learning", count: 60, backgroundColor: "#91b3cf"},
      { id:3, title: "Orbital", count: 90, backgroundColor: "#91b3cf"}
    ]
  },
});
  
</script>


{% endblock contentdiv2 %}


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="{% static 'js/dashboard/home.js' %}?{% now 'U' %}"></script>
{% endblock js%}