{% extends '_partials/base.html' %}
{% load static %}

{% block title %}
ActiveNUS
{% endblock title %}

{% block css %}
<!-- <link rel='stylesheet' href={% static 'css/dashboard/home.css' %}> -->
<link rel='stylesheet' href="{% static 'css/dashboard/home.css' %}?{% now 'U' %}">
{% endblock css %}


{% block contentdiv1 %}
<h1 style='padding: 2rem'>
    Progress
</h1>
<div id="progress">
        <progres
  v-for="card in cards"
  v-bind:key="card.id"
  v-bind:title="card.title"
  v-bind:count="card.count"
  v-bind:backgroundColor="card.backgroundColor"
></progres>
<a href="{% url 'calendar' %}">
<div class='progress-card' style='float: left;
width: 230px;
height: 147px;
margin: 30px;
padding: 1rem;
background: #FDB92E;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
border-radius: 20px;'>
    <div style="font-size: 100px; padding-top: 45px; color: #fff">+</div>
</div>
</a>

</div>


{% endblock contentdiv1 %}


{% block contentdiv2 %}
<div id="todolist">
    <h1 style='padding: 2rem'>
        Todo List
    </h1>
    <template v-if="todo.length">
        <transition-group name="todolist" tag="ul">
            <li v-for="item in todoByStatus" v-bind:class="item.done ? 'done' : ''" v-bind:key="item.id">
                <span class="label" style>[[ item.label ]]</span>
                <div class="actions">
                    <button class="btn-picto" type="button" v-on:click="markAsDoneOrUndone(item)"
                        v-bind:title="item.done ? 'Undone' : 'Done'">

                        <span v-if='!item.done'><i class="circle outline icon"></i></span>
                        <span v-else><i class="check circle outline icon"></i></span>

                    </button>
                    <button class="btn-picto" type="button" v-on:click="deleteItemFromList(item)" aria-label="Delete"
                        title="Delete">
                        <i class="trash icon"></i>
                    </button>
                </div>
            </li>
        </transition-group>
        <togglebutton label="Move done items to the end?" name="todosort" v-on:clicked="clickontoogle" />
    </template>
    <p v-else class="emptylist">Your todo list is empty.</p>

    <form name="newform" v-on:submit.prevent="addItem">

        <input type="text" name="newitem" id="newitem" v-model="newitem">
        <button type="submit">Add task</button>
    </form>
</div>



{% endblock contentdiv2 %}


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="{% static 'js/dashboard/home.js' %}?{% now 'U' %}"></script>
{% endblock js%}