{% extends '_partials/base.html' %}
{% load static %}

{% block title %}
Pomodoro | ActiveNUS
{% endblock title %}

{% block css %}
<!-- <link rel='stylesheet' href={% static 'css/dashboard/pomodoro.css' %}> -->
<link rel="stylesheet" href="{% static 'css/dashboard/pomodoro.css' %}?{% now 'U' %}">
{% endblock css %}

{% block contentdiv1%}


{% endblock contentdiv1 %}

{% block js %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js'></script>    
    <script src="{% static 'js/dashboard/pomodoro.js' %}?{% now 'U' %}"></script>
{% endblock js %}