{% extends "_partials/base.html" %}

{% load static %}

{% block title %}
Log in | ActiveNUS
{% endblock title%}


{% block css %}
  <link rel="stylesheet" href={% static 'css/registration/registration.css' %}>
{% endblock %}

{% block content %}
<div class='main'>

  <div class="right">

          <form class="form"  method="post" action={% url 'login' %}>
            
            {% csrf_token %}

              <h2 class="title">Authentication</h2>

              {% if messages %}
              {% for message in messages %}
              <div class="ui {{message.tags}} message" style="margin-top: 0; margin-bottom: 4px; padding: 0.5rem; width: 300px; font-family: sans-serif;"> {{message}} </div> 
              {% endfor %} 
              {% endif %}
              
              <input class="form_input" type="text" required name='username' value='{{ data.username }}' placeholder="User name">
              <input class="form_input" type="password" required name='password' placeholder="Password">
              <a class="form_link" href="">Forgot your password?</a>
              <button class="button">LOG IN</button>
              <p class="form_des">Don't have an account? <a href={% url 'register' %}>Sign up</a></p>
  
  </div>

  <div class='left'>
      <div class="switch_circle"></div>
      <div class="switch_circle switch_circle-t"></div>
      <img src={% static 'img/logo.png' %} height=90px>
  </div>

</div>
{% endblock content %}

